html, body {
  	height: 100%;
  	margin: 0;
}
  
body {
  	font-family: sans-serif;
    color: #555;
}
    
.content {
    padding: 20px;
    background-color: #e8eaf6;
}

.bordered
{
    background-color:white;
    padding:24px;
    margin:0 24px 24px 24px;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 1px 5px 0 rgba(0, 0, 0, 0.12),
                  0 3px 1px -2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

	
core-scaffold::shadow core-toolbar {
	background-color: #2F83D0;
	color: #FFF;
}

core-scaffold core-toolbar {
	background-color: #2F83D0;
	color: #FFF;
}

h2 {
  color: #000;
  border-radius: 10px;
  text-shadow: 2px 2px 2px #E3E3E3;
}

h3 {
  color: #2F83D0;
  text-shadow: 2px 2px 2px #E3E3E3;
}

#navheader
{
    background: url(../images/background_header_menu.jpg) center no-repeat;
}

 #mainContainer {
	background-color: #fff;
 }
  
 p {
	 text-align: justify;
	 line-height:25px;
 }
 
 .bold
 {
     font-weight: bold;
 }
 
.right {
    float: right;
    margin-left: 1em;
}

.left {
    float: left;
    margin-right: 1em;
}

a:link 
{ 
 color: #556; 
} 

a:visited /* propriétés des liens déjà visités */
{
   color: #556;
}

img {
	width: 400px;
	max-width: 100%;
    height: auto;
}

.redimension_gauche {
  width: 350px;
  max-width: 100%;
  height: 200px;
}

.redimension_droite {
	width: 350px;
	max-width: 100%;
}

.align_image img, .align_image p {
  vertical-align: middle;
  display: inline-block;
}

body .top-spacing {
    padding-top: 0.6em;
}

footer {
      background-color: #2F83D0;
      position: absolute;
      width: 100%;
}
footer p {
    color: #FFF;
    font-size: 1em;
    text-align: center;
}

.item
{
    max-width: 600px;
    display:inline-block;
}

.item:hover
{
    -webkit-transition: background 4s ease-in-out;
    -moz-transition: background 4s ease-in-out;
    -ms-transition: background 4s ease-in-out;
    -o-transition: background 4s ease-in-out;
    transition: background 4s ease-in-out;
    background:#c5cae9;
}

.item-image
{
    margin:none;
    padding:20px;
    position:inline-block;
    float:left;
}

.round_logo
{
    height: 64px;
    width: 64px;
    border-radius: 32px;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid #000;    
}

.item-content
{
    margin:none;
    padding:0;
    position:inline-block;
}
.blue_word
{
    color:#2F83D0;
    font-weight: bold;
}